.App {
    height: 100vh;
}

.button {
    width: inherit;
    background-color: white;
    padding: 4px;
    cursor: pointer;
    border: 2px solid red;
}

.parent-box {
    padding: 10px;
    margin: 10px;
    margin-top: 30px;
    border: 2px solid greenyellow;
}

#add-button {
    margin-left: 50%;
    transform: translate(-50%, 0);
    cursor: pointer;
}