* {
    padding: 0;
}

.box {
    width: 550px;
    height: 200px;
    border: 2px solid greenyellow;
    position: absolute;
    cursor: move;
    color: black;
    /* max-width: 215px; */
    border-radius: 5px;
    padding: 1em;
    margin: auto;
    user-select: none;
}

button {
    width: inherit;
    align-content: center;
    padding: 4px 2rem;
}

#parent-button {
    margin-left: 50%;
    transform: translate(-50%, 0);
}